/* Tiny CSS Reset */

* {
    box-sizing: border-box;
}

body, input, h1 {
    margin: 0;
    padding: 0;
}

video {
    width: 100%;
}

h1 {
    font-weight: normal;
}

/* Tiny CSS Reset */

section {
    margin: 0 auto;
    max-width: 50em;
    text-align: center;
}

a {
    color: #9055f5;
    text-decoration: none;
    font-family: sans-serif;
}

a:hover {
    text-decoration: underline;
}

input[type=submit], button {
    cursor: pointer;
}

h1 {
    margin-bottom: 0.5em;
    font-size: 1.3em;
}

.card {
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#upload, #videos, #video, #uploaded-video {
    margin-top: 1em;
}


#upload {
    padding: 1em;
    border: 1px solid #c4a8f4;
}

#upload form input[type="file"] {
    padding: 0.5em;
    border: 2px solid #c4a8f4;
}

#upload form input[type=submit] {
    padding-top: 0.65em;
    padding-bottom: 0.65em;
    padding-left: 0.3em;
    padding-right: 0.3em;
}

#upload progress {
    display: block;
    margin: 0 auto;
    margin-top: 0.4em;
    width: 20em;
}

#upload #status-bar {
    margin-top: 0.4em;
}

#videos article {
    margin-bottom: 1.5rem;
}

#video video {
    max-height: 60vh;
}

.share-box {
    margin-top: 1em;
    text-align: left;
}

.share-box .share-bar {
    margin-top: 0.5em;
}

.share-box .share-bar {
    display: flex;
}

.share-box .share-bar input {
    flex: 1;
    padding: 0.7em;
}

#uploaded-video {
    display: none;
}